<div class="jumbotron text-center" style="margin-bottom:0">
    <footer class="hc-footer hc-spacer-top hc-spacer-bottom">
  <div class="container  hc-footer-content">
      <div class="row">
          <div class="col-md-12">
              <div class="hc-footer-logo">
                  <a href="/"><img width="80" height="auto" src="https://res.cloudinary.com/dqifjhxxg/image/upload/v1642228448/healthcare_fngeet.png" alt="logo" /></a>
              </div>
              <div class="hc-foot-contact-box">
                  <h2>Địa chỉ phòng khám</h2>
                  <p> 780 Nguyễn Kiệm, P4, Q.Phú Nhuận, TP.HCM</p>
              </div>
          </div>
      </div>
  </div>
 <div class="hc-copyright-box col-md-12">
     <p>Copyright © 2022 Health Care DS</p>
 </div>
    </footer>
</div>