{% extends 'admin/base.html' %}

{% block body %}
{% if current_user.is_authenticated and current_user.user_role.name == 'ADMIN'%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = [], info = []
    let colors = []
    let bdColors = []
    let r,g,b;
    {% for s in stats %}
        labels.push('{{s[0].create_date}}')
        info.push({{s[2]}})
        r = Math.random()*255
        g = Math.random()*255
        b = Math.random()*255
        colors.push(`rgba(${r}, ${g}, ${b}, 0.5)`)
        bdColors.push(`rgba$({r}, ${g}, ${b}, 0.5)`)
    {% endfor %}
    window.onload = function(){
        const ctx = document.getElementById("myBillChart").getContext('2d')
        const myBillChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Thống kê doanh thu theo tháng',
                    data: info,
                    backgroundColor: colors,
                    borderColor: bdColors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
</script>
<h1 class="text-center text-info">Báo cáo doanh thu theo tháng</h1>
<br>
<div class="row">
    <div class="col-md-7">
        {% if year and month %}
        <h3>Doanh thu tháng {{month}}/{{year}}</h3>
        {% else %}
        <h3>Doanh thu tháng</h3>
        {% endif %}
        <table class="table">
            <tbody>
                <tr>
                    <th>STT</th>
                    <th>Ngày</th>
                    <th>Số bệnh nhân</th>
                    <th>Doanh thu</th>
                    <th>Tỉ lệ</th>
                </tr>
                {% for s in stats %}
                <tr>
                    <td>{{s[0].id}}</td>
                    <td>{{s[0].create_date.strftime('%d-%m-%Y')}}</td>
                    <td>{{s[1]}}</td>
                    <td>{{ "{:,.0f}".format(s[2]) }} VNĐ</td>
                    <td>{{ "{:,.0f}".format(s[2]*100/total) }}%</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h5 class="text-info">Tổng doanh thu: {{"{:,.1f}".format(total)}} VNĐ</h5>
    </div>
    <div class="col-md-5">
        <form>
            <span>Tháng:</span>
            <select name="month">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
            <label>Năm: </label>
            <input type="number" name="year" placeholder="Nhập năm..." required/>
            <input type="submit" class="btn btn-info" value="Thống kế">
            <canvas id="myBillChart"></canvas>
        </form>
    </div>
</div>
{% else %}
<h1 class="text-center text-danger"> ĐĂNG NHẬP QUẢN TRỊ </h1>
{% endif %}
{% endblock %}
